*body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

/*? Start Header */
header {
    box-sizing: border-box;
    padding: 0px 50px;
    height: 60px;
    width: 100%;
    background: #282a35;
    color: #ffffff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
}

.navbar-header {
    display: flex;
    gap: 10px;
}

.navbar-header a {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    transition: all 0.3s ease;
}

.navbar-header a:hover {
    background-color: white;
    border-radius: 4px;
    color: black;
    padding: 2px 4px;
    font-size: 18px;
    /* Membesarkan font sedikit */
    transform: scale(1.1);
    /* Meningkatkan ukuran sedikit */
}

/*? End Header */

/* ?Start Main */
/*todo:Start section 1  */
.section-1 {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    height: 100vh;
    width: 100%;
    background: #F1CA89;
    color: #282a35;
    font-size: 24px;
}

.article-1 h1 {
    width: 600px;
}

.navbar-article-1 {
    display: flex;
    gap: 15px;
}

.navbar-article-1 img {
    width: 30px;
    padding-top: 20px;
}


.navbar-article-1 a:hover {
    transition: all 0.3s ease;
    width: 30px;
    transform: scale(1.1);
    /* Meningkatkan ukuran sedikit */
}

.article-a {
    background-color: #04aa6d;
    text-decoration: none;
    border-radius: 4px;
    padding: 2px 6px;
    color: white;
    transition: all 0.3s ease;
}

.article-a:hover {
    background-color: #038c50;
    padding: 2px 10px;
    font-size: 26px;
    /* Membesarkan font sedikit */
    transform: scale(1.1);
    /* Meningkatkan ukuran sedikit */
}

.article-2 img {
    padding-top: 80px;
    padding-left: 200px;
    max-width: 60%;
    max-height: 60%;
}

/*todo:END section 1  */

/* todo : Start Section 2 */
.section-2 {
    width: 100%;
    height: auto;
    background: #ffffff;
    color: black;

    padding: 11px 0px;
    display: grid;
    gap: 40px;
    grid-template-areas:
        'item-1 item-2'
        'item-3 item-4'
        'item-5 item-6'
        'item-7 item-8';
    ;
}

.article-grid1 {
    display: flex;
    justify-content: center;
    grid-area: item-1;
    height: auto;
}

.article-grid2 {
    background: #F1F0E9;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: item-2;
    height: auto;

}

.article-grid3 {
    background: #F1F0E9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: item-3;
    height: auto;

}

.article-grid4 {
    display: flex;
    justify-content: center;
    grid-area: item-4;
    height: auto;

}

.article-grid5 {

    display: flex;
    justify-content: center;
    grid-area: item-5;
    height: auto;

}

.article-grid6 {
    background: #F1F0E9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: item-6;
    height: auto;

}

.article-grid7 {
    background: #F1F0E9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: item-7;
    height: auto;

}

.article-grid8 {
    display: flex;
    justify-content: center;
    grid-area: item-8;
    height: auto;

}

/* todo : END Section 2 */


/* ?End Main */


/*TOdo Media */
@media screen and (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }

    .section-1 {
        padding-top: 20px;
        /* Menambahkan padding-top 20px */
        padding-left: 60px;
        /* Padding otomatis untuk sisi kiri (bisa diganti dengan nilai tertentu) */

        flex-direction: column;
        height: 700px;
    }

    .article-2 {
        position: relative;
        top: -125px;
        /* Menurunkan artikel 120px ke atas */
    }

    .article-2 img {
        margin-top: -50px;
        /* Menarik gambar ke atas */
    }

    .container {
        padding: 0 15px;
    }

    .project-card {
        margin: 20px 0;
    }

    .project-card img {
        max-width: 100%;
    }
}

/* For mobile screens */
@media screen and (max-width: 480px) {
    header nav ul {
        font-size: 14px;
    }

    .project-card h3 {
        font-size: 1rem;
    }

    button a {
        font-size: 14px;
    }

    section {
        padding: 50px 15px;
    }
}