*body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

/*? Start Header */
header {
    box-sizing: border-box;
    padding: 0px 50px;
    height: 60px;
    width: 100%;
    background: #282a35;
    color: #ffffff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar-header {
    display: flex;
    gap: 10px;
}

.navbar-header a {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    transition: all 0.3s ease;
}

.navbar-header a:hover {
    background-color: white;
    border-radius: 4px;
    color: black;
    padding: 2px 4px;
    font-size: 18px;
    /* Membesarkan font sedikit */
    transform: scale(1.1);
    /* Meningkatkan ukuran sedikit */
}

/*? End Header */

/* ?Start Main */
/*todo:Start section 1  */
.section-1 {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    height: 100vh;
    width: 100%;
    background: #F1CA89;
    color: #282a35;
    font-size: 24px;
}

.article-1 h1 {
    width: 600px;
}

.navbar-article-1 {
    display: flex;
    gap: 15px;
}

.navbar-article-1 img {
    width: 30px;
    padding-top: 20px;
}


.navbar-article-1 a:hover {
    transition: all 0.3s ease;
    width: 30px;
    transform: scale(1.1);
    /* Meningkatkan ukuran sedikit */
}

.article-a {
    background-color: #04aa6d;
    text-decoration: none;
    border-radius: 4px;
    padding: 2px 6px;
    color: white;
    transition: all 0.3s ease;
}

.article-a:hover {
    background-color: #038c50;
    padding: 2px 10px;
    font-size: 26px;
    /* Membesarkan font sedikit */
    transform: scale(1.1);
    /* Meningkatkan ukuran sedikit */
}

.article-2 img {
    padding-top: 80px;
    padding-left: 200px;
    max-width: 60%;
    max-height: 60%;
}

/*todo:END section 1  */

/* *Start Section 2 */
.section-2 {
    width: auto;
    height: 100vh;
}

.section-2 h1 {
    background-color: #282a35;
    text-align: center;
    color: white;
}

.article-section2 {
    height: 500px;
    display: flex;
    align-items: center;
    padding: 0px 30px;

}

.article-section2 p {
    width: 50%;
    text-align: justify;
    text-indent: 20px;

}

.navbar-section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-right: 100px;
    background-color: #FFECC7;
    margin-left: 40px;
    height: 100px;
    width: auto;
    border-radius: 20px;
}

.navbar-section2 a {
    text-decoration: none;
    background: #04aa6d;
    border-radius: 4px;
    color: white;
    width: auto;
    padding: 2px 10px;
    transition: all 0.3s ease;
}

.navbar-section2 a:hover {
    background-color: #038c50;
    color: black;
    padding: 2px 12px;
    /* Membesarkan font sedikit */
    transform: scale(1.1);
    /* Meningkatkan ukuran sedikit */

}

.klik-me-navbar {
    position: relative;
    top: -50px;
    left: 220px;
}

/* *End Section 2 */

/* todo : Start Section 3 */
.section-3 {
    width: 100%;
    height: auto;
    background: #ffffff;
    color: black;

    display: grid;
    gap: 30px;
    grid-template-areas:
        'education education'
        'item-1 item-2'
        'item-3 item-4'
        'item-5 item-6'
        'item-7 item-8';
    ;
}

.education {
    grid-area: education;
    text-align: center;
    background: #282a35;
    color: white;
}

.article-section3-grid1 {
    display: flex;
    justify-content: center;
    grid-area: item-1;
    height: auto;
}

.article-section3-grid2 {
    background: #F1F0E9;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: item-2;
    height: auto;

}

.article-section3-grid3 {
    background: #F1F0E9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: item-3;
    height: auto;

}

.article-section3-grid4 {
    display: flex;
    justify-content: center;
    grid-area: item-4;
    height: auto;

}

.article-section3-grid5 {

    display: flex;
    justify-content: center;
    grid-area: item-5;
    height: auto;

}

.article-section3-grid6 {
    background: #F1F0E9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: item-6;
    height: auto;

}

.article-section3-grid7 {
    background: #F1F0E9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: item-7;
    height: auto;

}

.article-section3-grid8 {
    display: flex;
    justify-content: center;
    grid-area: item-8;
    height: auto;

}

/* todo : END Section 3 */


/* ?End Main */

/* *Start Section 4 */
.section-4 {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background: red;
}

.section-4 h1 {
    width: 100%;
    background: black;
    text-align: center;
    color: white;
}

.main-section-4 {
    margin-top: 40px;
    box-sizing: border-box;
    width: auto;
    height: auto;
    background: blue;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.article-grid {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

/* *End Section 4 */







/*TOdo Media */
@media screen and (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }

    .section-1 {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        width: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .article-2 {
        position: relative;
        top: -125px;
        /* Menurunkan artikel 120px ke atas */
    }

    .article-a {
        position: relative;
        right: 150px;
    }

    .navbar-article-1 {
        position: relative;
        top: -49px;
        right: -350px;
    }

    .article-2 img {
        position: relative;
        top: 125px;
        right: 50px;
        width: 300px;
        height: auto;
        /* Menarik gambar ke atas */
    }

    /* todo: start section 2 */
    .section-3 {
        width: 100%;
        height: auto;
        background: #ffffff;
        color: black;

        display: grid;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        gap: 30px;
        grid-template-areas:
            'education'
            'item-1 '
            'item-2 '
            'item-4 '
            'item-3 '
            'item-5 '
            'item-6 '
            'item-8 '
            'item-7 ';
    }

    /*todo: End Section 2  */

    .container {
        padding: 0 15px;
    }

    .project-card {
        margin: 20px 0;
    }

    .project-card img {
        max-width: 100%;
    }
}

/* For mobile screens */
@media screen and (max-width: 480px) {
    header nav ul {
        font-size: 14px;
    }

    .project-card h3 {
        font-size: 1rem;
    }

    button a {
        font-size: 14px;
    }

    section {
        padding: 50px 15px;
    }
}